@using Microsoft.AspNetCore.Html
@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var categoryID = @ViewBag.CategoryID;
    var tournamentID = @ViewBag.TournamentID;
    var contestType = "@ViewBag.Type";
</script>

<!--Show the name of the category as the heading.-->
<h2>@ViewBag.Title</h2>

@(new HtmlString(ViewBag.SVGText))




@section scripts
{
    <script src="~/js/bundle-sheet.js"></script>
}