@using Microsoft.AspNetCore.Html
@model EuroJudoWebContestSheets.Models.ViewModels.ContestSheetViewModel

@{
    ViewData["Title"] = @Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    const categoryID = @Model.CategoryId;
    const tournamentID = @Model.TournamentId;
</script>


<a href="/tournaments/Categories?tournamentId=@Model.TournamentId" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Toernooi</a>
<!--Show the name of the category as the heading.-->
<h2>@ViewBag.Title</h2>


@(new HtmlString(Model.SvgText))


@section scripts
{
    <script src="~/js/bundle-sheet.js"></script>
}