@using Microsoft.AspNetCore.Html
@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var categoryID = @ViewBag.CategoryID;
    var tournamentID = @ViewBag.TournamentID;
    var contestType = "@ViewBag.Type";
</script>


<a href="/tournaments/Categories?tournamentID=@ViewBag.TournamentID" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Toernooi</a>
<!--Show the name of the category as the heading.-->
<h2>@ViewBag.Title</h2>


@(new HtmlString(ViewBag.SVGText))


@section scripts
{
    <script src="~/js/bundle-sheet.js"></script>
}